* {
    margin: 0px;
    padding: 0px;

}







.mainAcercaDe {
    background-image: url(../multimedia/collage1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 3px 10px;
    


    @media screen and (max-width : 1050px) {
        flex-direction: column;


    }

   



    &__parrafo {
        background-color: #f2f2f2f6;
        width: 500px;
        display: inline-block;
        text-align: center;
        padding: 20px;
        font-size:medium;
        
        border: rgba(0, 0, 0, 0.493) 1px solid;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-top: 1rem;

        @media screen and (max-width : 765px) {
            width: 100%;


        }


    }
}



