* {
    margin: 0px;
    padding: 0px;

}



.mainContacto {
    display: flex;

    background-image: url(../multimedia/araña-cute.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: flex-end;

   

    

    &__form {
        margin: 30px;
        padding: 10px;
        border: rgba(0, 0, 0, 0.493) 1px solid;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #f2f2f2ad;

        
    }

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));

    &__parrafo {
        font-family: 'Indie Flower', cursive;
        font-size: 1.3rem;
    }
}