* {
    margin: 0px;
    padding: 0px;

}



.container-fluid{
    display: flex;
    
}




.Img_acercaDe{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    
}

.ContenedorTitulo{
    display: flex;
    justify-content: center;
    background-image: url(../multimedia/fotoRollo.jpg);
    background-position: center center;
}

.texto_titulo{
    
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    box-shadow: inset 0px -15px 15px 0px rgba(8, 8, 8, 0.3);
    box-shadow: rgba(55, 55, 56, 0.4) 0px 20px 29px 10px;
    border: rgba(0, 0, 0, 0.493) 1px solid;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    font-weight: bold;
    
    background-color: #f2f2f2dc;
    text-align: center;
    
    
}
.texto_parrafo{
    color: rgb(0, 0, 0);
    font-size:16px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

