.header{
    
    box-shadow: inset 0px -15px 15px 0px rgba(8, 8, 8, 0.1);
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);

   
   

    &__logo{
        box-shadow: inset 0px -15px 15px 0px rgba(8, 8, 8, 0.05);
        border: solid 1px rgba(0, 0, 0, 0.452);
        font-family: 'Zen Kurenaido', sans-serif;
        color: rgb(0, 0, 0);
        display: inline-block;
        padding-left: 1.8rem;
        padding-right:  1.8rem;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        font-size: 1.8rem;
        text-align: center;
       margin-left: 3.1rem;
       margin-bottom: 0px;
        

            @media screen and(max-width : 400px) {

                font-size: 100%;
                margin-bottom: 1.5rem;

                
            }
            
    }
    &__logo:hover{
        color: gray;
        transition: all .3s;
        transform: scale(1.05);
    }
}

.hr{
    margin: 0px;
}

ul{li{
    padding-right: 1.25rem;
    font-size: 1.1rem;
    
}}

.enlaceInstagram{
    height: 3.75rem; 
    margin-right: 1.5rem;
        
    @media screen and(max-width : 768px) {
        height: 2rem;
    }
    
}

.enlaceInstagram:hover{
    transition: all .3s;
    background-color: aqua;
    transform: scale(1.09);
   
}