* {
    margin: 0px;
    padding: 0px;

}

.separadorPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.separador {
    display: flex;
    background-color: rgba(0, 0, 0, 0.918);
    width: 500px;
    height: 70px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;

    @media screen and (max-width : 550px) {
        width: 100%;
    }

    &__img {
        height: 60px;
    }
}

.row {
    width: 100%;
    margin: 0px;
}

.colIzquierda {
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    padding: 0px;

    @media screen and(max-width : 850px) {
        border-right: none;
    }
}

.izquierda {
    &__inicio {
        padding-top: 100px;
    }

    &__img {
        box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
        margin-bottom: 75px;
        width: 400px;
        border-radius: 5px;

        @media screen and(max-width : 400px) {

            width: 300px;

        }
    }

    &__parrafo {
        width: 400px;
        padding-bottom: 75px;
        text-align: center;

        @media screen and(max-width : 400px) {

            width: 250px;

        }
    }
}

.withoutMargin {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.colDerecha {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    width: auto;
}

.derecha {
    &__img {
        box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
        width: 400px;
        margin-bottom: 75px;
        border-radius: 5px;

        @media screen and(max-width : 400px) {

            width: 300px;

        }
    }

    &__parrafo {
        width: 400px;
        padding-bottom: 75px;
        text-align: center;

        @media screen and(max-width : 400px) {

            width: 250px;

        }

    }
}