* {
    margin: 0px;
    padding: 0px;

}

.separadorPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.25rem;
}

.separador {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    width: 31.25rem;
    height: 4.3;
    border-radius: 6px;
    justify-content: center;
    align-items: center;

    @media screen and (max-width : 550px) {
        width: 100%;
    }

    &__img {
        height: 3.75rem;
    }
}


.CajaTexto{
    box-shadow: inset 0px -15px 15px 0px rgba(100, 100, 111, 0.4);
    box-shadow: rgba(14, 30, 37, 0.5) 0px 2px 4px 0px, rgba(14, 30, 37, 1) 0px 2px 16px 0px;
    background-color: #8C6554;
    display: flex;
    justify-content: center
    
    
}


.CajaTexto2{
    box-shadow: inset 0px -15px 15px 0px rgba(100, 100, 111, 0.4);
    box-shadow: rgba(14, 30, 37, 0.5) 0px 2px 4px 0px, rgba(14, 30, 37, 1) 0px 2px 16px 0px;
    background-color: #85A68E;
    display: flex;
    justify-content: center
    
    
}

.textoSeparador{
    background-color: rgba(169, 169, 169, 0.6);
    box-shadow: rgba(61, 61, 63, 0.3) 0px 20px 29px 10px;
    color: rgb(5, 5, 5);
    text-decoration: underline rgb(0, 0, 0);
    text-align: center;
    margin-top: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border: rgba(255, 255, 255, 0.493) 1px solid;
        border-top-left-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
}


.entreTexto{
    margin-top: 3.1rem;
    margin-bottom: 3.1rem;
    
}

.rowM{
    align-items: center;
}


.container-fluid{
    
    justify-content: center
}

.row{
    margin: 0px;
}

.col-md-6{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}



.izquierda {
    &__inicio {
        padding-top: 6.25rem;
    }

    &__img {
        width: 100%;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;

      
    }

    &__parrafo {
        width: 100%;
        padding-bottom: 1.25rem;
        text-align: center;
    }
        
}




.derecha {
    &__img {
        width:100%;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
       
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;

        
    }

    &__parrafo {
        width:100%;
        padding-bottom: 1.25rem;
        text-align: center;

       
    }
}