@charset "UTF-8";
.header {
  -webkit-box-shadow: inset 0px -15px 15px 0px rgba(8, 8, 8, 0.1);
          box-shadow: inset 0px -15px 15px 0px rgba(8, 8, 8, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.header__logo {
  -webkit-box-shadow: inset 0px -15px 15px 0px rgba(8, 8, 8, 0.05);
          box-shadow: inset 0px -15px 15px 0px rgba(8, 8, 8, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.452);
  font-family: 'Zen Kurenaido', sans-serif;
  color: black;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 0px;
}

@media screen and (max-width: 400px) {
  .header__logo {
    font-size: 100%;
  }
}

.header__logo:hover {
  color: gray;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hr {
  margin: 0px;
}

ul li {
  padding-right: 20px;
  font-size: 1.1rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
  border-top: solid 1px rgba(0, 0, 0, 0.4);
}

.footer__parrafo {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 1.3rem;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(169, 169, 169, 0.144);
}

.mainIndex__img {
  width: 100%;
  -webkit-box-shadow: rgba(100, 100, 111, 0.5) 0px 20px 29px 10px;
          box-shadow: rgba(100, 100, 111, 0.5) 0px 20px 29px 10px;
}

.mainIndex__parrafo {
  text-align: center;
  padding: 150px 230px 150px 230px;
}

@media screen and (max-width: 765px) {
  .mainIndex__parrafo {
    text-align: center;
    padding: 150px 10px 150px 10px;
  }
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 90px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 90px;
  position: relative;
  max-width: 1000px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 80px;
}

.contenedor__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 600ms;
  transition: all 600ms;
  -webkit-animation-name: autoplay;
          animation-name: autoplay;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.contenedor__slide__itemSlide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 100%;
}

@-webkit-keyframes autoplay {
  33% {
    -webkit-transform: translate3d(calc(-100% * 0), 0, 0);
            transform: translate3d(calc(-100% * 0), 0, 0);
  }
  66% {
    -webkit-transform: translate3d(calc(-100% * 1), 0, 0);
            transform: translate3d(calc(-100% * 1), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(calc(-100% * 2), 0, 0);
            transform: translate3d(calc(-100% * 2), 0, 0);
  }
}

@keyframes autoplay {
  33% {
    -webkit-transform: translate3d(calc(-100% * 0), 0, 0);
            transform: translate3d(calc(-100% * 0), 0, 0);
  }
  66% {
    -webkit-transform: translate3d(calc(-100% * 1), 0, 0);
            transform: translate3d(calc(-100% * 1), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(calc(-100% * 2), 0, 0);
            transform: translate3d(calc(-100% * 2), 0, 0);
  }
}

* {
  margin: 0px;
  padding: 0px;
}

.separadorPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.separador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.918);
  width: 500px;
  height: 70px;
  border-radius: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 550px) {
  .separador {
    width: 100%;
  }
}

.separador__img {
  height: 60px;
}

.container-fluid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  margin: 0px;
}

.col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.izquierda__inicio {
  padding-top: 100px;
}

.izquierda__img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.izquierda__parrafo {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
}

.derecha__img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.derecha__parrafo {
  width: 100%px;
  padding-bottom: 20px;
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Img_acercaDe {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.ContenedorTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../multimedia/fotoRollo.jpg);
  background-position: center center;
}

.texto_titulo {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 20px;
  padding-top: 20px;
  -webkit-box-shadow: inset 0px -15px 15px 0px rgba(8, 8, 8, 0.3);
          box-shadow: inset 0px -15px 15px 0px rgba(8, 8, 8, 0.3);
  -webkit-box-shadow: rgba(55, 55, 56, 0.4) 0px 20px 29px 10px;
          box-shadow: rgba(55, 55, 56, 0.4) 0px 20px 29px 10px;
  border: rgba(0, 0, 0, 0.493) 1px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: bold;
  background-color: #f2f2f2dc;
  text-align: center;
}

.texto_parrafo {
  color: black;
  font-size: 16px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

* {
  margin: 0px;
  padding: 0px;
}

.mainAcercaDe {
  background-image: url(../multimedia/collage1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 10px;
}

@media screen and (max-width: 1050px) {
  .mainAcercaDe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainAcercaDe__parrafo {
  -webkit-box-shadow: rgba(100, 100, 111, 0.4) 0px 20px 29px 10px;
          box-shadow: rgba(100, 100, 111, 0.4) 0px 20px 29px 10px;
  background-color: #f2f2f2f6;
  width: 500px;
  display: inline-block;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  font-family: 'Zen Kurenaido', sans-serif;
  border: rgba(0, 0, 0, 0.493) 1px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 1rem;
  color: black;
}

@media screen and (max-width: 765px) {
  .mainAcercaDe__parrafo {
    width: 100%;
  }
}

* {
  margin: 0px;
  padding: 0px;
}

.mainContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../multimedia/araña-cute.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainContacto__form {
  margin: 30px;
  padding: 10px;
  border: rgba(0, 0, 0, 0.493) 1px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f2f2f2ad;
}
/*# sourceMappingURL=estilos.css.map */