* {
    margin: 0px;
    padding: 0px;

}



.mainContacto {
    display: flex;

    background-image: url(../multimedia/araña-cute.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: flex-end;

   

    

    &__form {
        margin: 1.87rem;
        padding: 0.625rem;
        border: rgba(0, 0, 0, 0.493) 1px solid;
        border-top-left-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
        background-color: #f2f2f2ad;

        
    }

}

