* {
    margin: 0px;
    padding: 0px;

}



.container-fluid{
    display: flex;
    
}




.img_acercaDe{
    width: 100%;
    margin-top: 1.25rem;
    margin-bottom:  1.25rem;
    border-radius: 0.3125rem;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    
}

.contenedorTitulo{
    display: flex;
    justify-content: center;
    background-image: url(../multimedia/fotoRollo.jpg);
    background-position: center center;
}

.texto_titulo{
    
    width: 18.75rem;
    margin-top:  1.25rem;
    margin-bottom:  1.25rem;
    color: rgb(0, 0, 0);
    font-family: 'Zen Kurenaido', sans-serif;
    font-size:  1.25rem;
    padding-top:  1.25rem;
    box-shadow: inset 0px -15px 15px 0px rgba(8, 8, 8, 0.3);
    box-shadow: rgba(55, 55, 56, 0.4) 0px 20px 29px 10px;
    border: rgba(0, 0, 0, 0.493) 1px solid;
        border-top-left-radius:  1.25rem;
        border-bottom-right-radius:  1.25rem;
    font-weight: bold;
    
    background-color: #f2f2f2dc;
    text-align: center;
    
    
}
.texto_parrafo{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding-top: 1.875rem;
    padding-left: 3.125rem;
    padding-right:3.125rem;
}

